<form action="/square/results">

<div>
<label for="input_var">Enter a number</label>
</div>

<div>
<input id = "input_var" type="text" name="input_var" placeholder = "What number do you want to take the square of?">
</div>

<button> Calculate square </button>
</form>
